*{
    margin: 0;
    padding: 0;
    font-family: century Gothic;
}
  
  header{
    background-image: url(starry.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
  }

nav ul{
    float: right;
    list-style-type: none;
    margin-top: 40px;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    transition: 0.6s ease; 
    border: 1px solid transparent;
    font-size: 17px;
}

nav ul li a:hover{
    background-color: #fff;
    color: #000;
}

nav ul li.active a{
    background-color: #fff;
    color: #000;
}

.main{
    max-width: 1200px;
    margin: auto;
}

.title{
    position: absolute;
    top: 8%;
    left: 12%;
    transform: translate(-50%,-50%);
}

.title h1{
    color:rgb(249, 251, 252);
    font-size: 40px;
}

.image {
    display: block;
    width: 35%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%,-50%);
  }

  :root {
    --white: #fff;
    --black: #1c2b2d;
    --blue: #31326f;
    --light-blue: #005490;
    --color-primary: #491a94;
    --color-sec: rgb(204, 45, 164);
    --color-grey: #eee;
    --color-dark-grey: #222831;
 }

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
 html {
    font-size: 10px;
 }
  
 body {
    font-family: Gotham Rounded;
    background-color: var(--light-blue);
 }
  
 p {
    font-size: 1.7rem;
    line-height: 1.5;
 }
  
 .container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-radius:5px;
 }

 .quiz-box {
    width: 600px;
    /* height: 500px; */
    margin: 0 auto;
    background-color: #eee;
    padding: 10px 50px 50px 50px;
    border: 3px solid var(--color-primary);
    border-radius: 5px;
   
 }
  
 .quiz-box h1 {
    background-color: var(--color-primary);
    font-size: 4rem;
    text-align: center;
    color: #fff;
    padding: 10px 0;
    width: 100%;
    margin-bottom: 2rem;
    border-radius: 3px;   
 }
  
 .quiz-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 3px;
 }
  
 .quiz-header #progress {
    color: #2b2b2b;
    font-size: 1.9rem;
    font-weight: 700;
 }
  
 .quiz-box #question {
    font-size: 1.6rem;
    font-weight: 600;
    color: rgb(204, 45, 164);
    border: 1px solid #777;
    border-width: 1px 0;
    padding: 5px 0;
 }
  
 .buttons {
    margin: 1.5rem 0 4rem 0;
}

.btn {
    text-align: left;
    background-color: #ddd;
    width: 100%;
    font-size: 1.8rem;
    color: var(--black);
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    margin: 7px 0;
    padding: 1rem;
    outline: none;
}

:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
  }
  
  body.correct {
    --hue: var(--hue-correct);
  }
   body.wrong {
    --hue: var(--hue-wrong);
  }
  
  .btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
   }  
  
   .btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 3px;
    margin: 7px 0;
    padding: 1rem;
    color: white;
    outline: none; 
  }
  
  .btn:hover {
    border-color: rgb(11, 1, 15);
  }
   .btn.correct {
    --hue: var(--hue-correct);
    color: black;
  }
   .btn.wrong {
    --hue: var(--hue-wrong);
  }
   .start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
  }
   .controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }
   .hide {
    display: none;
  }
 